*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}.body{
    background: aqua;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.login{
    width: 320px;
    padding:30px;
    padding-top:156px;
}